[access]
	inheritFrom = All-Projects
[project]
	description = Gateway Agent
[access "refs/for/*"]
	pushMerge = group Gateway
[access "refs/heads/*"]
	abandon = group Gateway
	create = group Gateway
	forgeAuthor = group Gateway
	forgeCommitter = group Gateway
	push = group Gateway
	label-Code-Review = -2..+2 group Gateway
	submit = group Gateway
	editTopicName = group Gateway
[access "refs/meta/config"]
	read = group Gateway
[access "refs/tags/*"]
	pushTag = group Gateway
	pushSignedTag = group Gateway
[access "refs/*"]
	read = group GitHub Replication
