[access]
	inheritFrom = All-Projects
[project]
	description = Gateway Agent
[access "refs/for/*"]
	pushMerge = group ldap/gateway_agent
[access "refs/heads/*"]
	abandon = group ldap/gateway_agent
	create = group ldap/gateway_agent
	forgeAuthor = group ldap/gateway_agent
	forgeCommitter = group ldap/gateway_agent
	push = group ldap/gateway_agent
	label-Code-Review = -2..+2 group ldap/gateway_agent
	submit = group ldap/gateway_agent
	editTopicName = group ldap/gateway_agent
	read = deny group GitHub Replication for gateway
[access "refs/meta/config"]
	read = group ldap/gateway_agent
[access "refs/tags/*"]
	pushTag = group ldap/gateway_agent
	pushSignedTag = group ldap/gateway_agent
	read = deny group GitHub Replication for gateway
