[access]
	inheritFrom = All-Projects
[project]
	description = Gateway Agent
[access "refs/for/*"]
	pushMerge = group Gateway
	pushMerge = group ldap/gateway_agent
[access "refs/heads/*"]
	abandon = group Gateway
	abandon = group ldap/gateway_agent
	create = group Gateway
	create = group ldap/gateway_agent
	forgeAuthor = group Gateway
	forgeAuthor = group ldap/gateway_agent
	forgeCommitter = group Gateway
	forgeCommitter = group ldap/gateway_agent
	push = group Gateway
	push = group ldap/gateway_agent
	label-Code-Review = -2..+2 group Gateway
	label-Code-Review = -2..+2 group ldap/gateway_agent
	submit = group Gateway
	submit = group ldap/gateway_agent
	editTopicName = group Gateway
	editTopicName = group ldap/gateway_agent
[access "refs/meta/config"]
	read = group Gateway
	read = group ldap/gateway_agent
[access "refs/tags/*"]
	pushTag = group Gateway
	pushTag = group ldap/gateway_agent
	pushSignedTag = group Gateway
	pushSignedTag = group ldap/gateway_agent
[access "refs/*"]
	read = group GitHub Replication
